Language: Cpp
Standard: Latest
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentCaseLabels: false
IndentAccessModifiers: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterNamespace: false
  AfterStruct: false
  AfterEnum: false
  AfterUnion: false
  AfterControlStatement: Never
  BeforeElse: true
  BeforeCatch: true
  AfterFunction: true
  SplitEmptyFunction: false
  IndentBraces: false

BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 2
AccessModifierOffset: -4

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never

RemoveBracesLLVM: true

PointerAlignment: Left
ReferenceAlignment: Left

IndentRequiresClause: true
BreakBeforeConceptDeclarations: Always
SpacesInAngles: Leave

SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
Cpp11BracedListStyle: false
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None

SortIncludes: true
IncludeBlocks: Regroup

IncludeCategories:
  - Regex: '^<[a-z0-9_]+>$'
    Priority: 1
  - Regex: '^<[a-zA-Z0-9_/\.]+\.h>$'
    Priority: 2
  - Regex: '^<[a-zA-Z0-9_]+/[a-zA-Z0-9_/\.]+>$'
    Priority: 3
  - Regex: '^<xin/.*>$'
    Priority: 4
  - Regex: '^".*"'
    Priority: 5
PackConstructorInitializers: Never
